
        <div class="modal fade" id="bookingModal" mg-model tabindex="-1" role="dialog" aria-labelledby="bookingModalLabel"
        aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="bookingModalLabel">Book Your Home!</h5>
                        <button type="button" class="close" ng-click="dismiss()" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="progress" ng-show="progressBarLoading">
                            <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="100"
                                aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                                <span>Please wait<span class="dotdotdot"></span></span>
                            </div>
                        </div>
                        <div class="row p-3">Please fill the following form to book!</div>
                        <form name="bookingForm" novalidate>
                            <div class="row">
                                <div class="col-6 col-md-6 form-group">
                                    <label for="pxp-submit-property-title">First name</label>
                                    <input type="text" class="form-control" ng-model="bookingDataForm.firstName" id="pxp-submit-property-title"
                                        placeholder="Enter your first name" required>
                                </div>
                                <div class="col-6 col-md-6 form-group">
                                    <label for="pxp-submit-property-title">Last name</label>
                                    <input type="text" class="form-control" ng-model="bookingDataForm.lastName" id="pxp-submit-property-title"
                                        placeholder="Enter your last name">
                                </div>
                            </div>
                            <div class="row mt-4">
                                <div class="col-6 col-md-6 form-group">
                                    <label for="pxp-submit-booking-countryCode">Country Code</label>
                                    <input type="" class="form-control" ng-model="bookingDataForm.countryCode" id="pxp-submit-booking-countryCode"
                                        placeholder="Enter country code" required>
                                </div>
                                <div class="col-6 col-md-6 form-group">
                                    <label for="pxp-submit-booking-phone">Phone Number</label>
                                    <input type="number" class="form-control" ng-model="bookingDataForm.phoneNumber" id="pxp-submit-booking-phone" required>
                                </div>
                            </div>
                            <div class="row mt-4">
                                <div class="col-6 col-md-6 form-group">
                                    <label for="pxp-submit-booking-email">Email</label>
                                    <input type="email" class="form-control" ng-model="bookingDataForm.email" id="pxp-submit-booking-email"
                                        placeholder="Enter your email" required>
                                </div>
                                <div class="col-6 col-md-6 form-group">
                                    <label for="pxp-submit-booking-moveInDate">Date of move in</label>
                                    <!-- <md-datepicker ng-model="bookingDataForm.dateOfMoveIn" md-placeholder="Enter date" md-open-on-focus></md-datepicker> -->
                                    <!-- <mdp-date-picker mdp-placeholder="Enter date" ng-model="bookingDataForm.dateOfMoveIn" id="pxp-submit-booking-moveInDate" mdp-open-on-click mdp-format="DD-MMM-YYYY"></mdp-date-picker> -->
                                    <input type="date" class="form-control" ng-model="bookingDataForm.dateOfMoveIn" id="pxp-submit-booking-moveInDate" required>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn pxp-submit-property-btn"
                                    ng-disabled="progressBarLoading || bookingForm.$invalid"
                                    ng-click="submitBookingForm()">Make Payment<span class="fa fa-arrow-right"></span></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>